header{
    display: flex;
    flex-direction: row;
    background-color: #02253E;
}

header a:link{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

header a:visited{
    color: #fff;
}

header a:hover{
    color: aqua;
}

header a:active{
   color: #fff;
}

#LeftHead{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
}

#LeftHead img{
    max-width: 100%;
    max-height: auto;
}

#LeftHead p{
    text-align: center;
}

#RightHead{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#RightHead h1{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

#HeaderBar{
    display: flex;
}

#RightHead nav{
    flex-grow: 1;
}

#RightHead ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
}