

header{
    display: flex;
    flex-direction: row;
    background-color: #02253E;
}

header a:link{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

header a:visited{
    color: #fff;
}

header a:hover{
    color: aqua;
}

header a:active{
   color: #fff;
}


/* Left Head Css */
#LeftHead{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
}

#LeftHead img #logo{
    max-width: 100%;
    max-height: auto;
}

#LeftHead p{
    text-align: center;
}

#LeftHead #ProfilePicture
{
    margin-left: auto;
    margin-right: auto;
}

/* Right Head CSS */

#RightHead{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#RightHead h1{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

#HeaderBar{
    display: flex;
}

#RightHead nav{
    flex-grow: 1;
}

#RightHead ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
}


/* Sidebar CSS */


.navbars
{
    position: relative;
    height: 100%;   
}

.Sidebar
{
    position: absolute;
    height: 100vh;
    width: 0;
    top:0;
    left:0;
    background-color: rgb(33, 112, 184);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}


#LoggedOutSidebar
{
    width: 0;
}

.Sidebar ul
{
    list-style: none;
    
}

.Sidebar ul > li
{
    padding: 0px 0px 32px 0px;
    
}

.Sidebar ul > li > a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.Sidebar ul > li > .CloseButton
{
    position: absolute;
    right: 25px;
    font-size: 40px;
}