@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.bg {
    background-image: url("../images/Elanco_Index_Background_Image.png");
    height: 0px;
    width: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.container-overlay{
    background-color: rgb(255, 255, 255, 0.7);
    border: solid;
    border-color: black;
    border-radius:25px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    width: 50%;
}

.container-text {
    color: black;
    text-align: center;
    bottom: 5px;
    font-weight: bold;
    resize: block;
}

.Register_button {
    background-color: #005CA1;
    color: white;
    text-align:center;
    font-family: 'Open Sans';
    font-weight: bold;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius:5px;
}

/* Make clickable area match button */
.Register_button > form > button
{
    display: block;
    width: 100%;
}

/* For Gallery */

#ImageGallery
{
    margin: auto;
    border-style: solid;
    border-width: 5px;
}
