/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Basic CSS Stuff */
body
{
    font-family: 'OpenSans', sans-serif;
}



/* Profile Flex Box */

.FlexDisplay
{
    margin: auto;
    margin-top: 20px;
    width: 75%;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

.FlexDisplay > section
{
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.smallerFlexDisplay
{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch; /* Default behaviour */
    justify-content: space-between;
}

.smallerFlexDisplay > section
{
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    width: 350px;
    line-height: 75px;
}

section > h1
{
    
}


.TopBox
{
    position: relative;

}

/* IDs */
#profile-picture
{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
}